.articleItem{
    margin-bottom: 1em;
    padding: 20px;
    border: 1px solid #CB0202;
    background-image: linear-gradient(to right, #FCC6D0, #EEEEEE 14%);
}
.articleContent{
    margin-top: 2em;
    font-family: "Arial", cursive;
    font-size: 1.1em;
}
.title{
    color: #CB0000;
    font-size: 1.17em;
    font-weight: bold;
}
.author{
    margin-top: 2em;
}
.date{
    font-weight: bold;
}
