.articles {
    background: #999;
    padding: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    display: grid;
    grid-gap: 2em;
    word-break: break-all;
    box-sizing: border-box;
}
