.footer{
    color: white;
    background-color: #C90813;
    padding: 30px 50px;
    font-family: "Arial", cursive;
    height: 7em;
    min-width: 200px;
}

.circle{
    border: white 1px solid;
    font-size: 0.7em;
    border-radius: 50%;
    vertical-align: middle;
}
