.header{
    background-color: #C90813;
    color: white;
    height: 10em;
    display: flex;
    flex-flow: row wrap;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    font-family: "Arial", cursive;
    min-width: 200px;
}

.title{
    font-size: 2em;
    font-weight: bold;
}
